<launch>
  <!-- Turtlebot -->
  <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
   
  <!-- vlp16 driver -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

  <!-- run pointcloud_to_laserscan node -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="velodyne_points"/>
      <remap from="scan" to="scan"/>
      <rosparam>
          target_frame: velodyne # Leave disabled to output scan in pointcloud frame
          transform_tolerance: 0.01
          min_height: 0.0
          max_height: 1.0

          angle_min: -3.141593 # -M_PI/2
          angle_max: 3.141592 # M_PI/2
          angle_increment: 0.0087 # M_PI/360.0
          scan_time: 0.3333
          range_min: 0.3
          range_max: 20.0
          use_inf: true

          # Concurrency level, affects number of pointclouds queued for processing and number of threads used
          # 0 : Detect number of cores
          # 1 : Single threaded
          # 2->inf : Parallelism level
          concurrency_level: 1
      </rosparam>

  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_to_velodyne" args="0.0 0.0 0.18 0 0.0 0.0 /base_link /velodyne 50"/>

  <!-- Map server -->
  <arg name="map" value="/home/nvidia/my_map_517.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />

  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/vlp16_amcl.launch.xml"/>
  <arg name="initial_pose_x" default="-1.3"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="0.48"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="2.324"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/vlp16_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

  <!-- 设置一个/odom与/map之间的静态坐标变换 -->
  <!--node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /-->

  <!-- 运行rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>

</launch>
